.container {
    height: 360px;
    width: 440px;
    background-color: black;
    align-self: center;
    margin-left: 35%;
    margin-top: 25px;
    padding-top: 10px;    
  
}

.table {
    height: 300px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 1px;


}
.header{
    font-size: 25px;
    font-weight: bolder;
    
}


